* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

:root {
    --color: rgba(145, 145, 145, 0.699);
    --color-hover: rgb(21, 95, 129);
}

.linea-animada {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--color-hover);
    z-index: 500;
    animation: linea .5s ease-in-out;
}

@keyframes linea {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.indice-menu {
    display: block;
    position: absolute;
    width: 100%;
    top: -120px;
}

body::-webkit-scrollbar {
    width: 7px;
    background-color: none;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-hover);
    border-radius: 50px;
}

/*HEADER*/

.capa {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.089);
    z-index: -100;
}

.header1 {
    display: block;
    width: 98%;
    height: 95px;
    position: fixed;
    right: 0;
    top: 0;
    box-shadow: none;
    border-radius: 0 0 10px 50px;
    z-index: 500;
    transition: all .3s;
}

.header1 .logo {
    display: block;
    width: 85px;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.header1 ul {
    display: flex;
    width: 500px;
    height: 50px;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.header1 ul li {
    display: grid;
    place-content: center;
    margin-right: 30px;
}

.header1 ul a {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
}

.header1 ul a:hover {
    background: var(--color-hover);
}

.header2 {
    display: none;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    box-shadow: none;
    border-radius: 0 0 10px 50px;
    z-index: 500;
    transition: all .3s;
}

.header2 .menu {
    display: block;
    width: 50px;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 500;
}

.header2 ul {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    background: grey;
    transform: translateX(-100%);
    transition: all .3s;
    padding-top: 100px;
}

.header2 ul li {
    display: grid;
    place-content: center;
    margin-bottom: 30px;
}

.header2 ul a {
    display: block;
    font-size: 18px;
    text-decoration: none;
    padding: 8px;
    border-radius: 20px;
}

.header2 ul a:hover {
    background: var(--color-hover);
}

/*SECTION*/

.presentacion {
    display: block;
    margin: 0 auto;
    width: 99.5%;
    height: 650px;
    position: relative;
    transform: translateY(3px);
    overflow: hidden;
}

.presentacion img {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0 0 10px 10px;
}

.presentacion .titulo {
    display: block;
    width: 88%;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    transition: all .5s;
}

.presentacion .sobretitulo {
    display: block;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 35px;
    font-weight: lighter;
}

.vista {
    display: grid;
    place-content: center;
    width: 92%;
    max-width: 1400px;
    height: 450px;
    transform: translateY(-100px);
    margin: 0 auto;
    background: rgb(240, 240, 240);
    text-align: center;
    grid-template-columns: 350px 350px auto;
    border-radius: 0 0 30px 0;
    margin-bottom: -50px;
}

.vista .tarjeta {
    display: inline-block;
    width: 300px;
    height: auto;
    margin-top: -50px;
}

.vista .tarjeta .circulo {
    display: grid;
    place-content: center;
    margin: 0 auto;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: var(--color-hover);
}

.vista .tarjeta .circulo span {
    font-size: 20px;
}

.vista .tarjeta .nombre {
    color: rgb(71, 71, 71);
    font-size: 19px;
    font-weight: bold;
    margin: 15px;
}

.vista .tarjeta .desc {
    color: rgb(88, 88, 88);
    font-size: 16px;
    font-weight: lighter;
    margin: 15px;
}

.contenedor-foto {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 550px;
    position: relative;
    margin-bottom: 40px;
}

.contenedor-foto .before {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.820);
    transition: all .5s;
}

.contenedor-foto .img-fondo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor-foto .clientes {
    display: block;
}

.contenedor-foto .cliente {
    display: block;
    position: relative;
    width: 80%;
    margin-bottom: 160px;
}

.contenedor-foto .opinion {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 400px;
    max-width: 750px;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 20px;
}

.contenedor-foto::after {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 80%;
    background: var(--color-hover);
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    animation: opinionBefore 5s ease-in-out infinite;
}

@keyframes opinionBefore {
    from {
        height: 0;
    }
    20% {
        height: 80%;
    }
    to {
        height: 80%;
    }
}

.contenedor-foto .opinion img {
    display: block;
    width: 60px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.contenedor-foto .opinion .text {
    display: block;
    width: 100%;
    font-size: 17px;
    margin-bottom: 20px;
}

.contenedor-foto .opinion .client-name {
    display: block;
    font-size: 19px;
    color: rgb(87, 165, 238);
    font-weight: bold;
    transition: all .3s;
}

.contenedor-foto .opinion .stars span {
    color: rgb(87, 165, 238);
}

.contenedor-foto .opinion .stars:hover span {
    color: rgb(255, 255, 255);
}

.contenedor-foto .flechas {
    display: inline-block;
    position: relative;
    place-content: center;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-top: 40px;
    background: #333;
    transition: all .2s;
    border-radius: 5px;
    cursor: pointer;
}

.contenedor-foto .div-flechas {
    display: block;
    width: 100%;
    max-width: 750px;
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 20px;
}

.contenedor-foto .flechas:hover {
    background: rgb(56, 136, 255);
}

.contenedor-foto .flechas:hover span {
    color: #333;
}

.contenedor-foto .flechas span {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: rgb(56, 136, 255);
    font-size: 23px;
    font-weight: bold;
}

.section-productos {
    position: relative;
}

.titulo-productos {
    display: block;
    padding: 0 20px;
    text-align: center;
    color: #000;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.productos {
    display: grid;
    place-content: center;
    margin: 0 auto;
    margin-bottom: 80px;
    padding: 20px 0;
    width: 99%;
    max-width: 900px;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.productos .producto {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 240px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.productos .producto:hover img {
    transform: scale(1.2);
}

.productos .producto::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.400);
    border-radius: 10px;
    z-index: 1;
}

.productos .producto img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s;
}

.productos .producto .precio {
    display: block;
    position: absolute;
    padding: 10px;
    top: 0;
    right: 0;
    background: var(--color-hover);
    border-radius: 5px;
    font-size: 15px;
}

.productos .producto .nombre-producto {
    display: grid;
    place-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-radius: 0 0 10px 10px;
    border-top: 1px solid grey;
    font-size: 17px;
}

.productos .producto .precio, .nombre-producto {
    z-index: 100;
}

/*FOOTER*/

footer {
    display: block;
    position: relative;
    width: 100%;
    height: 380px;
    background-color: #222;
    padding: 100px 0;
}

footer .titulo-footer {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: lighter;
}

footer .redes {
    display: grid;
    place-content: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    grid-template-columns: 65px 65px 65px 65px auto;
}

footer .redes-cuadro {
    display: grid;
    place-content: center;
    width: 55px;
    height: 55px;
    font-size: 13px;
    border: 1px solid rgb(51, 51, 51);
    text-decoration: none;
    transition: all .25s;
    border-bottom: 1px solid #fff;
}

footer .redes-cuadro:hover {
    border-bottom: 10px solid #fff;
}

footer .redes-cuadro span {}

footer p {
    display: block;
    text-align: center;
    margin-top: 50px;
    color: rgb(160, 160, 160);
}

@media screen and (max-width:1150px) {
    .vista {
        grid-template-columns: none;
        grid-template-rows: 35% 35% auto;
        height: auto;
        padding: 50px 0;
    }
    .vista .tarjeta {
        margin: 0 auto;
        width: 90%;
    }
}

@media screen and (max-width:730px) {
    body::-webkit-scrollbar {
        display: none;
    }
    .header1 {
        display: none;
    }
    .header2 {
        display: block;
    }
}